<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion de la Aplicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
      Lista Peliculas
      </ion-card-title>
      <ion-card-subtitle>
        Versión 1.0.0
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Descripción de la aplicación: Esta es una aplicación sobre almacenamiento de peliculas</p>
      <p>Desarrollador: Amos Rosado Morales</p>
      <p>Fecha de lanzamiento: 8 de Marzo de 2023</p>
      <p>Sitio web: <a href="https://sites.google.com/g.educaand.es/libreconfiguracion/inicio">https://sites.google.com/g.educaand.es/libreconfiguracion/inicio</a></p>
      <ion-button (click)="clicBotonContacto()">Contacto</ion-button>

    </ion-card-content>

  </ion-card>

      <div id="mapId" style="width:100%; height:100%;" ></div>
  
</ion-content>
<ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" id="icons"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="informacion">
      <ion-icon name="information-circle" id="icons"></ion-icon>
      <ion-label>Sobre la App</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>