<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="clicBotonInsertar()">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista Peliculas</ion-title>
  </ion-toolbar>
</ion-header>
<style>

  ion-content {
    --background: #87e0e3;
  }

  ion-fab-button {
    --color: #ffffff;
    --background: #0d1acf;
  }

  ion-grid {
    --ion-grid-padding: 20px;
    --background: #ffffff;
    --color: #ffffff;

  }

  ion-toolbar {
    --background: #ffffff;

  }
</style>
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>

      <ion-item *ngFor="let documentPelicula of arrayColeccionPeliculas" (click)="selecPelicula(documentPelicula)" size-xl="3" size-lg="3" size-md="4"
      size-sm="6" size-xs="12">
      <ion-grid>
        <ion-col>
          <h1> {{ documentPelicula.data.titulo }}</h1>
        </ion-col>
        <ion-col>
          <p> {{ documentPelicula.data.generoPelicula }}</p>
        </ion-col>
        <ion-col>
          <p> {{ documentPelicula.data.director }}</p>
        </ion-col>
        <ion-col>
          <p> {{ documentPelicula.data.actorPrincipal }}</p>
        </ion-col>
        <ion-col>
          <p> {{ documentPelicula.data.fechaSalida }}</p>
        </ion-col>
        <ion-col>
          <p> {{ documentPelicula.data.precioCines }}</p>
        </ion-col>
        <ion-col>
          <p> {{ documentPelicula.data.paisProduccion }}</p>
        </ion-col>
        </ion-grid>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-fab-button (click)="clicBotonInsertar()"> <ion-icon name="layers-sharp"></ion-icon> </ion-fab-button> -->